</div>
<footer class="bg-dark">
    <h3>Our team:</h3>
    <ul>
        <li>Syed Moosa<span class="material-icons">
            <a href="mailto:moosasyed2005@gmail.com">mail</a>
            <a href="https://www.instagram.com/moosasyed_/"><i class="bi bi-instagram"></i></a>
        </span></li>
        <li>Abban Fahim<span class="material-icons">
            <a href="mailto:abbanfahim9c17232@gmail.com">mail</a>
            <a href="https://www.instagram.com/abban_fahim/"><i class="bi bi-instagram"></i></a>
            <a href="https://www.github.com/Abban-Fahim/"><i class="bi bi-github" style="left: 60px"></i></a>
        </span></li>
        <li>Talha Ijaz<span class="material-icons">
            <a href="mailto:muhammadtalhaijaz.19479.10b@gmail.com">mail</a>
            <a href="https://github.com/Talha-Ijaz-Qureshi"><i class="bi bi-github"></i></a>
        </span></li>
        <li><h6>Group email: <span class="material-icons"><a href="mailto:ATM.sr.health@gmail.com"><i style="top: -7px; left: -10px;" class="bi bi-envelope"></i></a></span></h6></li>
    </ul>
</footer>
</div>

</body>
</html>