</div>
<footer class="bg-dark">
    <h3>Our team:</h3>
    <ul>
        <li>Syed Moosa<span class="material-icons">military_tech</span></li>
        <li>Abban Fahim<span class="material-icons">code</span></li>
        <li>Talha Ijaz<span class="material-icons">videogame_asset</span></li>
    </ul>
    <h6>Website made and maintained by Abban</h6>
</footer>
</div>

</body>
</html>