<%- include('header') -%>

    <title>Questionarre</title>

    <div class="container-fluid text-center">
        <h3>Please fill the small questionarre below</h3>
    </div>

    <form action="/form" method="post">
        <div class="form-control">
            <div class="row justify-content-around">
                <div class="col-md-4 col-lg-4 col-sm-6 label">
                    <label for="email">Email address</label>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 align-self-center inputBox">
                    <input type="email" name="email" id="email">
                </div>
            </div>
        </div>
    </form>

    </body>

    </html>