<%- include('header') -%>

    <title>Questionarre</title>

    <div class="container-fluid text-center">
        <h3>Please fill the small questionarre below</h3>
    </div>

    <form action="/form" method="post">
        <div class="form-control container-fluid">
            <label for="email">Email address</label>
            <input type="email" name="email" id="email">
        </div>
    </form>
    
</body>
</html>