<%- include('header') %>

<div class="text-center" id="poem">
  Get up, you slacker<br />
  Another day is yet to be wasted,<br />
  Just like every yesterday,<br />
  You chose to sit out.<br />
  <br />
  The world beneath your idle feet,<br />
  Dictates for bliss to be achieved.<br />
  Fitness was the antidote,<br />
  To your fraught affliction.<br />
  <br />
  You read about triumph,<br />
  Groundbreakers and prodigies.<br />
  Did they not put in toil and effort?<br />
  To achieve what you only conceive.<br />
  <br />
  A shadow of ennui,<br />
  Awning over your indolent mind,<br />
  Left you inert,<br />
  And numbed your interests.<br />
  <br />
  Won't it be elating,<br />
  If you relish in your pastimes,<br />
  Rather than atrophy,<br />
  As your time withers away.<br />
  <br />
  Solution to boredom,<br />
  Solution to grief.<br />
  What did you get,<br />
  From that extra hour of sleep.<br />
</div>

<%- include('footer') %>
