<%- include('header') %>

    <div class="container text-center" style="display: block; margin: 26px auto; background-color: #48C9B0; padding: 26px;">
        <h3 style="margin: 24px 0;">Thank you</h3>
        <h4 style="margin-bottom: 12px;">
            <%= email %>
        </h4>
        <a href=" / ">Go back to the home page</a>
    </div>