<%- include('header') %>

    <div class="container text-center" style="display: block; margin: 26px auto; background-color: #48C9B0; padding: 26px;">
        <h3 style="margin: 24px 0;">Thank You</h3>
        <h4 style="margin-bottom: 12px;">
            <%= email %>
        </h4>
        <h5>Contact this <a href="mailto:ATM.sr.health@gmail.com">email</a> for a personalized workout plan :)</h5>
        <h5><a href="/">Go back to the home page</a></h5>
    </div>

    <%- include('footer') %>
