<%- include('header') %>

    <div class="toggle-table">
        <button type="button" class="toggleBtn btn btn-primary btn-lg">Show Table</button>
    </div>

    <table class="table table-dark table-striped">
        <thead>
            <th scope="col">Email</th>
            <th scope="col">Amount of excercise</th>
            <th scope="col">Something else</th>
        </thead>
        <tbody>
            <% data.forEach(doc => { %>
                <tr>
                    <td>
                        <%= doc.response.email %>
                    </td>
                    <td>
                        <%= doc.response['amontOfEx'] %>
                    </td>
                    <td>
                        <%= doc.response['something'] %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    </body>

    <script>
        const table = $('table');
        const btn = $('.toggleBtn');
        btn.on('click', () => {
            if (btn.html() === 'Show Table') {
                btn.html('Hide Table');
                table.css('display', 'inline-table')
            } else {
                btn.html('Show Table');
                table.css('display', 'none')
            };
        });
    </script>

    </html>