<%- include('header') %>

    <title>Vidoe</title>

    <div class="videoBox container-fluid">
        <video src="file/example.mp4" autoplay></video>
        <div class="replayScreen">
            <span class="material-icons replay">replay</span>
        </div>
        <div class="controls">
            <span class="material-icons backward">replay_10</span>
            <span class="material-icons playBtn">play_arrow</span>
            <span class="material-icons forward">forward_10</span>
            <span class="material-icons fullscreen">fullscreen</span>
        </div>
    </div>
    </body>
    <script>
        let playBtn = $('.playBtn');
        let video = $('video').get(0);
        let backward = $('.backward');
        let forward = $('.forward');
        let fullscreen = $('.fullscreen');
        video.pause()

        playBtn.on('click', playFunc);
        $('video').on('click', playFunc);
        $(document).on('keydown', (e) => e.code === 'Space' ? playFunc() : null)

        function playFunc() {
            if (playBtn.html() === 'play_arrow') {
                playBtn.html('pause');
                video.play();
            } else {
                playBtn.html('play_arrow');
                video.pause();
            }
        }

        forward.on('click', () => video.currentTime += 10);
        backward.on('click', () => video.currentTime -= 10);
        fullscreen.on('click', () => {
            try {
                video.requestFullscreen();
            } catch (any) {
                video.webkitRequestFullscreen();
            }
        });

        video.onended() = () => {

        }
    </script>

    </html>