.videoBox {
    text-align: center;
    width: 100%;
    margin-top: 40px;
    position: relative;
    float: left;
}

video {
    width: 60%;
}

.controls {
    background-color: #3b3d53;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

.controls span:hover {
    color: #e73c75;
}

.replayScreen {
    background-color: #3b3d5375;
    position: absolute;
    float: left;
    width: 60%;
}