.videoBox {
    text-align: center;
    width: 100%;
    margin-top: 40px;
    position: relative;
    float: left;
}

video {
    width: 60%;
}

.controls {
    background-color: #3b3d53;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

.controls span:hover {
    color: #e73c75;
}

.replayScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3b3d5350;
    width: 60%;
    height: inherit;
}

.replay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}