form {
    text-align: center;
    background-color: #48C9B0;
    width: 80%;
    margin: 45px auto;
    display: block;
    border-radius: 15px;
}

form {
    border: #992149 3px dashed;
}

form .control {
    border-top: #992149 3px dashed;
}

h5 {
    display: block;
    margin: 25px;
    margin-top: 25px;
}

.form-check-label {
    float: left;
}

.form-check {
    margin: 12px;
}

label[for=email] {
    margin: 17px;
}

input[type=email] {
    width: 80%;
    background-color: #e73c75;
    border: none;
    border-radius: 10px;
}

input:focus,
input:focus-visible,
input:focus-within {
    box-shadow: none;
    border: 2px solid #3b3d53;
    background-color: #992149;
}

.inputBox {
    text-align: left;
}

.btnBox {
    margin: 10px;
}

.btn {
    border: none;
    background-color: #e73c75;
    width: 40%;
    margin: 7px;
}

.btn[type=reset] {
    background-color: #3b3d53;
}

@media (max-width: 767.98px) {
    .label {
        text-align: center;
    }
    .inputBox {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .label {
        text-align: right;
    }
}