h1 a {
    font-size: 30px;
    color: #4eb39e !important;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    padding: inherit;
}

.material-icons {
    font-size: 40px;
    margin: 0 1px;
    z-index: 3;
    color: #4eb39e;
}

.hat {
    position: absolute;
    left: 13px;
    top: 2px;
    transform: rotate(25deg);
}

.public {
    margin-top: 12px;
    z-index: 1;
    position: static;
    color: #e73c75;
    transform: none;
}

.navbar-toggler {
    margin: 0;
    position: absolute;
    right: 20px;
    top: 23px;
}

.hamburger{
    position: absolute;
    left: -6px;
    top: -4px;
}

h3 {
    font-size: 35px;
    color: #e73c75;
    margin: 10px 0 5px 0;
    font-family: 'Comfortaa', cursive;
}

a {
    color: white !important;
    margin: 0 7px;
}

a:hover {
    text-decoration: underline;
    color: #a9cec7 !important;
}

body {
    background-color: #3b3d53;
    background-image: url("./white-diamond.png");
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
    width: max-content;
}

.carousel,
.carousel-inner {
    height: 300px;
}

.carousel-item {
    justify-content: center;
    text-align: center;
    color: black;
    padding: 20px 7px;
    height: 100%;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

footer{
    height: fit-content;
    width: 100%;
    color: #4eb39e;
    padding: 14px;
}

footer ul li::marker{
    color: #e73c75;
    font-family: 'Material Icons';
}
footer ul li:nth-child(1n)::marker{content: '\ea3f';}
footer ul li:nth-child(2n)::marker{content: '\e86f';}
footer ul li:nth-child(3n)::marker{content: '\e859';}
footer ul li:nth-child(4n)::marker{content: '\ea2f';}

ul li{
    padding: 7px;
}

li .material-icons, li .material-icons a, .bi {
    font-size: 25px;
    margin: 1.5px 7px;
    position: absolute;
    color: #4eb39e !important;
    text-decoration: none;
}

.bi{
    position: absolute;
    left: 30px;
    font-size: 20px;
    top: -2px;
}

.bi-envelope:hover::before{content: '\f32c';}