h1 a {
    font-size: 40px;
    color: #4eb39e !important;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    padding: inherit;
}

.material-icons {
    font-size: 40px;
    margin: 0 12px;
    z-index: 3;
    color: #4eb39e;
}

.hat {
    position: absolute;
    left: 27px;
    top: 2px;
    transform: rotate(25deg);
}

.public {
    margin-top: 12px;
    z-index: 1;
    position: static;
    color: #e73c75;
    transform: none;
}

.hamburger {
    margin: 0;
    position: absolute;
    right: 20px;
    top: 23px;
}

h3 {
    font-size: 50px;
    color: #e73c75;
    margin: 10px 0 5px 0;
    font-family: 'Comfortaa', cursive;
}

a {
    color: white !important;
    margin: 0 7px;
}

a:hover {
    text-decoration: underline;
    color: #4eb39e !important;
}

body {
    background-color: #3b3d53;
    background-image: url("https://www.transparenttextures.com/patterns/white-diamond.png");
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
    width: max-content;
}

.carousel,
.carousel-inner {
    height: 300px;
}

.carousel-item {
    justify-content: center;
    text-align: center;
    color: black;
    padding: 20px 0;
    height: 100%;
}

.orange {
    background-color: orangered;
}

.purple {
    background-color: purple;
    color: white;
}

.green {
    background-color: greenyellow;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}